<div class="container">

  <div class="page-header">
    <h1 class="text-center">Campaigns</h1>
    <h4 class="text-center">Search <input type="text" ng-model="test"></h4>
  </div>

  <div class="container">
    <div class=row ng-repeat="campaign in campaigns | groupBy:4">
      <div class="col-xs-3 letter-box" ng-repeat="campaign in campaigns" >
        <div>Letter {{$index + 1}} is: <b> {{campaign}}</b></div>
      </div>
    </div>
    <!--<div class="row stylish-panel">-->
      <!--<div ng-repeat="campaign in campaigns | filter:test">-->
        <!--<div class="row">-->
          <!--<img src={{campaign.image}} alt="Texto Alternativo" class="img-circle img-thumbnail"></img>-->
          <!--<h3><a href={{campaign.url}}>{{campaign.title}}</a></h3>-->
          <!--<p>{{campaign.tagline}}</p>-->
          <!--<a href={{campaign.url}} class="btn btn-primary" title="See more">See more »</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
